<div class="row">
    <div class="col-lg-12">            
        <div id="entities-actions" style="z-index: 10; margin-top: 20px;">                
            <ul>
                <li>
                    <a href="{{ path('backend_user_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> добавить</a>
                </li>
            </ul>                
        </div>                    
    </div>
</div>