app/config/parameters.yml
build/
phpunit.xml
var/*
!var/cache
var/cache/dev
var/cache/prod
var/cache/test
var/cache/pro_
!var/cache/.gitkeep
!var/logs
var/logs/*
var/logs/dev.log
var/logs/prod.log
!var/logs/.gitkeep
!var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/*
web/bundles/
web/uploads/*
!web/uploads/media
web/uploads/media/*
!web/uploads/media/brend
.idea
/nbproject/private/
!web/media
web/media/*
