zindex-100 {
    z-index: 100 !important;
}

/**
  * ################
  *     SHADOWS
  * ################
  */
.shadow-10 {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}