#entities-actions ul {
    list-style: none;
    padding-left: 0px;
}

#entities-actions li {
    float: left;
    margin-right: 20px;
}

.action-buttons {
    list-style: none;
}

.action-buttons li {
    float: left;
    margin-right: 20px;
}