<div class="masthead">
    <img src="{{ asset('/assets/images/rabbet_slim.png') }}">
    <nav>
        <ul class="nav nav-justified">
            {% for entity in entity.navigationItems %}
                <li><a href="{% if app.environment == 'dev' %}/app_dev.php{% endif %}{{entity.route}}">{{entity.title}}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>