<div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
    <ul class="nav nav-justified">
        {% for entity in entity.navigationItems %}
            <li><a href="{{entity.route}}">{{entity.title}}</a></li>
        {% endfor %}
    </ul>
</nav>
</div>